<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

  <title>LABCHEM Admin</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <link href="http://labchem.cf/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="http://labchem.cf/assets/bootstrap/css/dashboard.css" rel="stylesheet">

  <%= yield :customer_css %>
  <%= yield :order_css %>


  <%= csrf_meta_tags %>
</head>
