<div id="pos_slider">

  <div id="wowslider-container1">
    <div class="ws_images">
      <ul>

        <% @sliders.each do |slider| %>

            <li>
              <%= image_tag slider.image.url(:medium), 'title'=> slider.caption %>
            </li>
        <% end %>

      </ul>
    </div>
    <div class="ws_bullets">
      <div>
        <% @sliders.each do |slider| %>
        <a href="#" title='<%= slider.caption %>'><%= image_tag slider.image.url(:small) %></a>
        <% end %>
      </div>
    </div>
    <div class="ws_shadow"></div>
  </div>

</div>